<div class="content">
    <h1>Отправьте нам сообщение</h1>
        <form action="" method="post">
            <fieldset>
                <p>
                    <label class="title" for="name">Введите Ваше имя</label>
                        <input type="text" name="name" id="name">
                    <br>
                    <br>
                    <br>
                    <label class="message" for="message">Введите Ваше сообщение</label>
                        <textarea id="message" name="message" cols="80" rows="5"></textarea>
                    <br>
                    <br>
                    <br>
                    <label class="title" for="email">Введите Ваш email</label>
                        <input type="text" name="email" id="email"><br>
                </p>
            </fieldset>
            <div class="submit"><input type="submit" value="Отправить"></div>
        </form>
</div>